:root{
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

.posts{
  margin-top: 10px; 
  padding:10px; 
  border: 1px solid #FFFFFF; 
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto; 
  }
.post { 
  padding: 6px;
  border-bottom: 1px solid #ddd; 
  white-space: pre-wrap;
  } 
.post:last-child { border-bottom: none; } 
textarea { width: 100%; padding: 6px; border-radius: 6px; } 

li {
    list-style: circle;
  }
  
.list {
    list-style: square;
  }
  
.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}
.btn{
    position: absolute;
    top: 20px;
    left: 350px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.page{
  display : none;
}
.page.active{
  display:block;
}
